@charset 'utf-8';
/* ------set------------*/
*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol,ul,li{list-style: none;}
img{border: 0px;}
a{text-decoration : none;}

body{
    font-family: -apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은 고딕',helvetica,'Apple SD Gothic Neo',sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #202020;
}


/*----wrap------*/

.wrap {
    margin: auto;
    width: 1130px;
}

.wrap .section .left{
    width: 750px;
}

.wrap .section .right{
    width: 350px;
}

/*---------header--------------*/
.header {
    
}


.header .nav01{
    height: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.header .nav01 li{
    float: right;
    cursor: pointer;
    margin-right: 10px;    
}

.header .nav01 li:first-child{
    width: 60px;
    height: 10px;
    margin: 0;
}
.header .nav01 li:nth-child(2){
    
}
.header .nav01 > li:last-child{
    font-size: 11px;
}
.header .nav01 > li:last-child:hover{
    text-decoration: underline;
}
.header .nav01 li img{
    height: 16px;
}

.header .logobox{
    display: inline-block;
}

.header .logo{
    width: 222px;
    height: 53px;
}
.header .serchbox{
    width: 582px;
    height: 54px;
    border: 2px solid #19CE60;
    position: relative;
    float: right;
    left: -27%;
}
.serchbox .search{
    width: 444px;
    height: 24px;
    display: inline-block;
    padding: 13px;
    position: absolute;
    top: 10px;
    left: 15px;    
    border: 0px;
}

.serchbox .search_img{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

.serchbox .search_img:hover{
    cursor: pointer;
}

.header .top_menu{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #e4e8eb;
    border-bottom: 1px solid #e4e8eb;
    position: relative;
}

.forscript{
    position: fixed;
    height: 54px;
    width: 1130px;
    left: 21%;
    z-index: 1;
}
.header .forscript #search_box{
/*    border: 1px solid #e4e8eb;*/
    background: url(resource/img/search_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 610px;
    height: 440px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    display: none;
/*    opacity: 0%;*/
    cursor: default;
}

/*-------------section----------*/

.sec {
    position: relative;
}

.sec:after{
    clear: both;
    display: block;
    content: '';
}

.right{
    width: 28%;
    /*border: 1px dotted red;*/
    float: right;
    position: sticky;
    top: 0;
}

.left{
    width: 70%;
    /*border: 1px dotted blue;*/
    float: left;
}

/*----------left--------*/
.left .l_top{
    
}
.left .l_top li{
    margin-bottom: 10px;
    /*border: 1px solid black; */
}

.left .l_top > li:first-child{
    height: 135px;
    border: 1px solid #dae1e6;
}

.left .l_top li:first-child img{
    width: 100%;
    height: 100%;
}

.left .l_top>li:nth-child(2){
    height: 49px;
    background-color: #F7F9FA;
    line-height: 15px;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #dae1e6;
}
.left .l_top li:nth-child(2) > p:first-child{
    float: left;
    line-height: 25px;
}

.left .l_top li:nth-child(2) > p:nth-child(2){
    float: right;
    line-height: 18px;
}
.left .l_top>li:nth-child(2):after{
    clear: both;
    display: block;
    content: '';
}

.left .l_top li:nth-child(2) .color{
    color: #3565c9;    
}
.color_dot{
    color: lightgray;
    font-size: 15pt;
}
.left .l_top li:nth-child(2) span{
    cursor: pointer;
    font-weight: 1000;
    display: inline-block;
    padding-right: 10px;
}

.left .l_top li:nth-child(2) a{
    color: black;
    margin-top: 3px;
}
.left .l_top li:nth-child(2) a:hover{
    text-decoration: underline;
}


.left .l_top li:nth-child(3){
    position: relative;
}
.left .l_top li:nth-child(3) img:hover{
    cursor: pointer;
}
.left .l_top li:nth-child(3) .right_img{
    position: absolute;
    right: 10px;
    top : 5px;
}

.left .l_top>li:nth-child(4){
    height: 300px;
}

.left .l_top li:nth-child(4) ol{
    width: 25%;
    padding: 15px 17px 3px;
    height: 300px;
    background-color: #F7F9FA;
    border: 1px solid #dae1e6;
    float: left;
}
.left .l_top li:nth-child(4) ol>li {
    padding-left: 10px;
    line-height: 25px;
    font-size: 10.5pt;
}

.left .l_top li:nth-child(4) ol li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.left .l_top li:nth-child(4) .news_img{
    width: 75%;
    height: 300px;
    float: right;
    border-bottom: 1px solid #dae1e6;
    border-top: 1px solid #dae1e6;
}
.left .l_top li:nth-child(4) .news_img img{
    width: 100%;
    height: 100%;
}
.left .l_top li:nth-child(4) .news_img img:hover{
    transform: scale(1.01,1.03)
}

.left .l_top > li:nth-child(5){
    padding: 10px;
    margin-top: 30px;
}

.left .l_top li:nth-child(5) > strong:first-child{
    font-size: 10.5pt;
}

.left .l_top li:nth-child(5) > p{
    float: right;
    /*border: 1px solid black;*/
    height: 30px;
}
.left .l_top li:nth-child(5) > p:after{
    content: '';
    display: block;
    clear: both;
}

.left .l_top li:nth-child(5) span{
    color: gray;
   /* border: 1px solid black;*/
}
.left .l_top li:nth-child(5) strong{
    /*border: 1px solid black;*/
}

.left .l_top li:nth-child(5) > p > img{
    width: 90px;
    /*border: 1px solid black;*/
    cursor: pointer;
}
.left .l_top li:nth-child(5) > p > span{
    display: block;
    float: left;
    line-height: 25px;
}
.left .l_top li:nth-child(5) > p > strong{
    display: block;
    float: left;    
    line-height: 25px;
}

.left .l_top li .left_nav_ol{
    margin-bottom: 20px;
    height: 50px;
}

.left .l_top li .left_nav_ol li{
    float: left;
    border: 1px solid #e4e8eb;
    width: 98px;
    line-height: 45px;
    text-align: center;
    font-size: 10pt;
    font-weight: 600;
    color: #333333;
    height: 49px;
    cursor: pointer;
}

.left .l_top li .left_nav_ol > li:hover{
    color: orange;
}

.left .l_top li .left_nav_ol > li:first-child{
    background-color: #5853A0;
    color: white;
}

.left .l_top li .left_nav_ol li:after{
    clear: both;
    content: '';
    display: block;
}

.left .l_top .last_li_img{
    
}

.left .l_top .last_li_img img{
    width: 100%;
}
/*-------------right-----------*/

.right .id_box{
    width: 100%;
    padding: 10px;
    color: gray;
    border: 1px solid #e4e8eb;
    height: 133px;
}
.right .id_box > .p01{
    margin-bottom: 10px;
}
.right .id_box > a{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.right .id_box > a > img{
    width: 100%;
}
.right .id_box > .p02{
    width: 80%;
    display: inline-block;
}

.right .r_box02 {
    border: 1px solid #e4e8eb;
    margin-top: 12px;
    height: 49px;
}
.right .r_box02 img{
    width: 100%;
}

.right .r_box03{
    margin-top:10px; 
}

.right .r_box03 > img{
    width: 100%;
    cursor: pointer;
}
.right .r_box03 > img:last-child{
    border-bottom: 1px solid #e4e8eb;
    border-left: 1px solid #e4e8eb;
    border-right: 1px solid #e4e8eb;
}


.right .r_box04{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right .r_box04 > p{
    font-weight: 1000;
    font-size: 10pt;
    width: 63%;
    display: inline-block;
    text-align: left;
}
.right .r_box04 > span{
    margin-right: 5px;
}

.right .r_box05{
    
}

.right .r_box05 ul{
    border: 1px solid #e4e8eb;
}
.right .r_box05 ul > li:first-child{
    background-color: #F7F9FA;
    border: 1px solid #e4e8eb;
    padding: 12px 9px 11px 17px;
}

.right .r_box05 ul > li:first-child p > span{
    cursor: pointer;
}

.right .r_box05 ul > li:first-child p > span:hover{
    text-decoration: underline;
}

.right .r_box05 ul > li > p:nth-child(2) span{
    margin-right: 1px;
}


.right .r_box05 ul > li:nth-child(2) > p{
    width: 40%;
    float: right;
    text-align: right;
    padding: 0px;
/*    border: 1px solid red;*/
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
} 
.right .r_box05 ul > li:nth-child(2) > p > img{
    width: 40px;
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.right .r_box05 ul > li:nth-child(2) > p > span{
/*    border: 1px solid red;*/
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 60px;
}
.right .r_box05 ul > li:nth-child(3){
    
}

.right .r_box05 ul > li:nth-child(3) > img{
    width: 100%;
    cursor: help;
}

.right .r_box05 ul > li:nth-child(4) > img{
    width: 100%;
    cursor: pointer;
}
/*-------------footer-----------*/

body .footer{
    border-top: 1px solid #e4e8eb;   
    background-color: #fafbfc;
    width: 100%;
    padding-bottom: 20px;
}

.footer .wrap{
    
}

.footer .footerbox{
    /*border: 1px solid red;*/
}
.footer #footer01 {
    width: 100%;
}

.footer #footer01 li{
    float: left;
    width : 33%;
/*    border: 1px dotted blue;*/
    text-align: left;
    padding: 24px 0px 24px 20px;
}

.footer #footer01 li p {
    float: right;
    margin-right: 10%;
}

.footer #footer01 li p .first{
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #58c464;
    font-size: 12px;
    line-height: 1.25;
}

.footer #footer01 li p .second{
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.26px;
    color: #242424;
}
.footer #footer01 li p .second:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer #footer01 li p .last{
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #424242;
    font-size: 12px;
}
.footer #footer01 li img {
    width: 160px;
    height: 80px;
    margin-top: 5px;    
    transition: 1s, linear ,0.5s;
}

.footer #footer02{
    clear: both;
    border-top: 1px solid #e4e8eb;
    padding-top: 10px;
    padding-bottom: 14px;
}

.footer #footer02 li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer #footer02 li:first-child {
    float: left;
    width: 200px;
    padding-left: 5px;
}

.footer #footer02 li:last-child{
    float: right;
    width: 200px;
    text-align: right;
    padding-right: 10px;
}

.footer #footer03 {
    clear : both;
    border-top: 1px solid #e4e8eb;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer #footer03:after {
    content: '';
    display: block;
    clear: both 
}

#footer03 .footer_ul01 {
    float: left;
     padding: 5px;
}

#footer03 .footer_ul01 li{   
    height: 20px;
}
#footer03 .footer_ul01 li span:hover{
    cursor: pointer;
}

#footer03 .footer_ul01 li span:first-child{
    margin-right: 10px;
    font-weight: 600;
    
}

#footer03 .footer_ul01 .need_color{
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #777;
}

#footer03 .footer_ul02 {
    float: right;
    margin-bottom: 10px;
}

#footer03 .footer_ul02 li{
    float: left;
    width : 200px;
/*    border: 1px solid red;*/
    padding: 10px 10px 10px 10px;
    text-align: justify;
    position: relative;
    margin-top: 5px;
}


.footer .footerbox .footer_ul02 img{
    width: 48px;
    height: 48px;
    display: block;
    float: right;
    position: absolute;
    top: 10%;
    right: 5%;
}

#footer03 .footer_ul02 li span{
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 12px;
    line-height: 16px;
}
#footer03 .footer_ul02 li span:nth-child(3):hover{
    cursor: pointer;
    text-decoration: underline;
}

#footer03 .footer_ul02 li span:nth-child(3){
    color : gray;
}

#footer04{
    clear: both;
    border-top: 1px solid #e4e8eb;
    padding: 15px;
}

#footer04:after {
    content: '';
    display: block;
    clear: both 
}

#footer04 li {
    float: left;
    width: 100px;
    border-right: 1px solid gray;
    text-align: center;
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 12px;
    line-height: 16px;
}

#footer04 li:hover{
    cursor: pointer;
    text-decoration: underline;
}

#footer04 li:nth-child(5),
#footer04 li:nth-child(6),
#footer04 li:nth-child(9){
    width: 140px;
}
